html, body {
	font-family: 'Roboto', Arial, sans-serif;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
div > a:not(.page-link) {
	color: unset !important;
	text-decoration: unset !important;
}
a.btn-dark {
	color: #fff !important;
	text-decoration: unset !important;
}
.hover-green:hover{
	color: green;
}
.hover-red:hover{
	color: red;
}
.hover-blue:hover {
	color: blue;
}
i:hover{
	color: blue;
	cursor: pointer;
}
.input-text-short {
	width: 7em;
}
.input-text-long {
	width: 12em;
}
.no-visible{
	position: absolute;
}
select:not(.form-control){
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 2px solid #000;
	height: 28px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.border-bottom {
	border-bottom: 1px solid gray;
}
.go-back {
	background-image: url("/images/9dot.png");
	background-size: 32px;
	height: 28px;
	width: 28px;
	margin-left: 3px;
}
.icon-pane {
	background-color: #FFF;
	border-right: 1px solid #999;
	height: 100%;
	width: 50px;
	position: fixed;
	z-index: 1;
}
.icon-pane .btn {
	margin-top: 10px;
	margin-bottom: 10px;
}
.main-pane {
	background-color: #eee;
	height: 100vh;
	padding: 10px;
	margin-left: 50px;
	overflow: auto;
}
.main-content {
	border: 1px solid #999;
	border-radius: 10px;
	display: flex;
	position:relative;
}
.main-content .d-block, .main-content .d-flex {
	z-index: 10;
}
.btn-round {
	border-radius: 5em;
	padding-left: 3em;
	padding-right: 3em;
}
.input-icon {
	position: relative;
	right: 1.5rem;
}
.input-item input{
	border-top: unset;
	border-left: unset;
	border-right: unset;
	border-bottom: 2px solid black;
	border-radius: unset;
}
.item-image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.options-menu {
	font-size: 1.5em !important;
}
.options-menu > * {
	margin: 0 3px;
}
.layout-list {
	display: initial;
}
.layout-grid {
	display: flex;
	flex-wrap: wrap;
}
.layout-list .data-item {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 1em 0;
	padding: 5px;
	width: 100%;
}
.layout-list .item-specs {
	display: flex;
	align-items: center
}
.layout-list .item-id {
	display: inline-block;
	position: relative;
	margin: 0 0.5rem;
	width: 3rem;
}
.layout-list .item-image {
	border: 1px solid gray;
	display: inline-block;
	margin: 0 0.5rem;
	width: 5rem;
	height: 3rem;
	position: relative;
	top: 3px
}
.layout-list .item-title-and-country {
	display: flex;
	position: relative;
	align-items: center
}
.layout-list .item-title {
	display: inline-block;
	margin: 0 0.5rem;
	width: 10rem;
}
.layout-list .item-country {
	display: inline-block;
	margin: 0 0.5rem;
}
.layout-list .item-options {
	border: 1px solid gray;
	display: flex;
	justify-content: space-between;
	margin: 0 0.5rem;
	padding: 1px 5px;
}
.layout-list .item-options:not(.simple) {
	width: 15rem;
}
.layout-grid .data-item {
	margin: 0.5em;
	min-width: 15rem;
}
.layout-grid .item-specs {
	position: relative;
}
.layout-grid .item-id {
	background-color: white;
	border-left: 1px solid gray;
	border-bottom: 1px solid gray;
	min-width: 3em;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	text-align: center;
}
.layout-grid .item-image {
	border-bottom: 1px solid gray;
	display: block;
	height: 8em;
	width: 100%;
}
.layout-grid .item-title-and-country {
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
}
.layout-grid .item-title {
	display: block;
	max-width: 12rem
}
.layout-grid .item-country {
	display: block;
	text-align: right;
}
.layout-grid .item-options {
	display: flex;
	justify-content: space-between;
	padding: 5px;
	width: 100%;
}

/* Slider */
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 8px;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 22px;
	width: 22px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: #20dd60;
}
input:focus + .slider {
	box-shadow: 0 0 1px #20dd60;
}
input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
input:checked + .slider::after {
	content: "Active";
	left: 3.5em;
	position: relative;
}
input:not(:checked) + .slider::after {
	content: "Pause";
	left: 3.5em;
	position: relative;
}

/* Dropdown */
.dropdown-content:not(.show){
	display: none;
}
.dropdown-content {
	background-color: white;
	border: 1px solid #111;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content div {
	color: black;
	cursor: pointer;
	font-size: 16px;
	padding: 2px 16px;
	text-decoration: none;
}
.dropdown-content div:hover {
	background-color: #eee
}
.w-90 {
	width: calc(100% - 1.5rem)
}
.w-10 {
	width: 1.5rem
}

/* Pagination */
nav {
	display: flex;
	justify-content: center;
	margin-bottom: 2.5rem
}
.previous-page {
	border-radius: 4px 0 0 4px
}
.next-page {
	border-radius: 0 4px 4px 0
}
.pagination-cropped {
	width: 4px;
	background-color: #007bff
}